<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Page</title>

		<link rel="stylesheet" href="/static/style.css" type="text/css">
	</head>
	<body>

		<form action="/login" method="POST" >
			<div class="login">
				<div class="login-screen">
					<div class="app-title">
						<h1 color="#f5f4f9">Water Supply Services</h1>
					</div>

					<img src="/static/house.jpg" hspace="20" vspace="10" style="width:250px;height:150px;margin-left: 14%;">
						<br>
					<div class="login-form">

						<div class="control-group">
						<input type="text" class="login-field" value="" placeholder="username" name="username">
						<label class="login-field-icon fui-user" for="login-name"></label>
						</div>

						<div class="control-group">
						<input type="password" class="login-field" value="" placeholder="password" name="password">
						<label class="login-field-icon fui-lock" for="login-pass"></label>
						</div>

		                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
					    <br>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>
